<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/2c52b8fe-74ca-4e07-b8df-66ac29830de1/resourceGroups/AppsassiansResrcGroup/providers/Microsoft.Web/sites/appsassians</ResourceId>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://appsassians.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ProjectGuid>ff9d1786-4670-454d-96d1-92c366ff760e</ProjectGuid>
    <PublishUrl>https://appsassians.scm.azurewebsites.net/</PublishUrl>
    <UserName>$appsassians</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>