
name: CI/CD

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: windows-latest

    steps:
    # Getting the SDK dependencies we need for both our application and sonarcloud/sonarscanner
    - uses: actions/checkout@v2
    - name: Setup .NET
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 5.0.x
        
    - name: Set up JDK 11 
      uses: actions/setup-java@v1
      with:
        java-version: 1.11
        
    
    #Restore dependencies .NET application
    - name: Restore dependencies
      run: dotnet restore
      
    
  #Job to deploying our repository to the Azure webapp
  deploy:
    needs: build
    runs-on: ubuntu-latest # Using ubuntu this time
    environment:
      name: 'Production' # Let's us setup an environment named publish and you can see it in my repository
      
    steps:
    #Sets our SDK again
    - uses: actions/checkout@v2
    - name: Setup .NET
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 5.0.x
    
    #Creates publish folder to be deployed to our webapp
    - name: Publish
      run: dotnet publish / --configuration Release -o ./publish
      
    #Deploying our app to azure web app
    - name: Deploy
      uses: azure/webapps-deploy@v2
      with:
        app-name: appsassians # Replace this with your web app name
        slot-name: 'Production'
        publish-profile: ${{secrets.SECRET_AZURE}} # Make sure you have a secret publish folder obtained from Azure
        package: ./publish #This filepath might change depending on your repo
